<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restablecer Contraseña</title>
  </head>
  <body>
    <h1>Restablecer Contraseña</h1>
    <form id="reset-password-form">
      <input type="hidden" id="token" name="token" value="{token}" />
      <label for="password">Nueva Contraseña:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Restablecer Contraseña</button>
    </form>

    <script>
      document
        .getElementById("reset-password-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const token = document.getElementById("token").value;
          const password = document.getElementById("password").value;

          try {
            const response = await fetch("/user/reset-password", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ token, newPassword: password }),
            });

            if (response.ok) {
              // <! --- TODO: cambiar la ruta de esto a la que es de front --->
              alert("Contraseña actualizada correctamente");
              window.location.href = " https://ige-front.onrender.com/login";
              //window.location.href = ' http://192.168.1.79:56767/login';
            } else {
              const error = await response.json();
              alert(`Error: ${error.message}`);
            }
          } catch (error) {
            console.error("Error al restablecer la contraseña:", error);
            alert("Hubo un problema al restablecer la contraseña.");
          }
        });
    </script>
  </body>
</html>
